### Important Library

In [1]:
# import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

###Importing Training and Test Dataset

In [2]:
training_data = pd.read_excel('Data_Train.xlsx')
test_data = pd.read_excel('Test_set.xlsx')

In [3]:
training_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
## Checking the size of the Dataset

print("Rows in training dataset: " + str(training_data.shape[0]))
print("Columns in training dataset: " + str(training_data.shape[1]))
print("==================================")
print("Rows in test dataset: " + str(test_data.shape[0]))
print("Columns in test dataset: " + str(test_data.shape[1]))

Rows in training dataset: 10683
Columns in training dataset: 11
==================================
Rows in test dataset: 2671
Columns in test dataset: 10

In [5]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [6]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
dtypes: object(10)
memory usage: 208.8+ KB

### Checking Missing values in dataset

In [7]:
## Cheching the missing Value in training data
training_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [8]:
## Cheching the missing Value in test data
test_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [9]:
### Checking Datatpyes in dataset

In [10]:
training_data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [11]:
test_data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
dtype: object

##### Training Data
Numerical column: 1

Categorical calumn: 10

##### Test Data
Numerical column: 0

Categorical calumn: 10

### Handling the missing value

In [12]:
training_data.dropna(inplace=True)

In [13]:
training_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [14]:
training_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

### Changing the datatype of Date_of_journey, Arrival_time, Dep_time.
We will add some new column and remove unnecessary column from database

In [15]:
#Changing Data type of "Date_of_Journey" column into datetime
training_data["Date_of_Journey"] = pd.to_datetime(training_data.Date_of_Journey, format = "%d/%m/%Y")

#Changing Data type of "Arrival_Time" column into datetime
training_data["Arrival_Time"] = pd.to_datetime(training_data.Arrival_Time)

#Changing Data type of "Dep_Time" column into datetime
training_data["Dep_Time"] = pd.to_datetime(training_data.Dep_Time)
training_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2022-06-29 22:20:00,2022-03-22 01:10:00,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,2022-06-29 05:50:00,2022-06-29 13:15:00,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,2022-06-29 09:25:00,2022-06-10 04:25:00,19h,2 stops,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,2022-06-29 18:05:00,2022-06-29 23:30:00,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,2022-06-29 16:50:00,2022-06-29 21:35:00,4h 45m,1 stop,No info,13302

In [16]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  datetime64[ns]
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  datetime64[ns]
 6   Arrival_Time     10682 non-null  datetime64[ns]
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
dtypes: datetime64[ns](3), int64(1), object(7)
memory usage: 1001.4+ KB

In [17]:
# Adding two new column

#extracting day from "Date_of_Journey"
training_data["Journey_day"] = training_data["Date_of_Journey"].dt.day

#extracting month from "Date_of_Journey"
training_data["Journey_month"] = training_data["Date_of_Journey"].dt.month

#extracting Arrival_hour and Arrival_min from Arrival_Time Column
training_data['Arrival_hour'] = training_data['Arrival_Time'].dt.hour
training_data['Arrival_min'] = training_data['Arrival_Time'].dt.minute

training_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Arrival_hour,Arrival_min
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2022-06-29 22:20:00,2022-03-22 01:10:00,2h 50m,non-stop,No info,3897,24,3,1,10
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,2022-06-29 05:50:00,2022-06-29 13:15:00,7h 25m,2 stops,No info,7662,1,5,13,15
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,2022-06-29 09:25:00,2022-06-10 04:25:00,19h,2 stops,No info,13882,9,6,4,25
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,2022-06-29 18:05:00,2022-06-29 23:30:00,5h 25m,1 stop,No info,6218,12,5,23,30
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,2022-06-29 16:50:00,2022-06-29 21:35:00,4h 45m,1 stop,No info,13302,1,3,21,35

In [18]:
## Now dropping Arrival Time

training_data.drop('Arrival_Time', axis=1, inplace=True)
training_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Arrival_hour,Arrival_min
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2022-06-29 22:20:00,2h 50m,non-stop,No info,3897,24,3,1,10
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,2022-06-29 05:50:00,7h 25m,2 stops,No info,7662,1,5,13,15
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,2022-06-29 09:25:00,19h,2 stops,No info,13882,9,6,4,25
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,2022-06-29 18:05:00,5h 25m,1 stop,No info,6218,12,5,23,30
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,2022-06-29 16:50:00,4h 45m,1 stop,No info,13302,1,3,21,35

In [19]:
### Extracting Dep_hour, Dep_min from Dep_time from Dep_Time

training_data['Dep_hour'] = training_data['Dep_Time'].dt.hour
training_data['Dep_min'] = training_data['Dep_Time'].dt.minute

training_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2022-06-29 22:20:00,2h 50m,non-stop,No info,3897,24,3,1,10,22,20
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,2022-06-29 05:50:00,7h 25m,2 stops,No info,7662,1,5,13,15,5,50
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,2022-06-29 09:25:00,19h,2 stops,No info,13882,9,6,4,25,9,25
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,2022-06-29 18:05:00,5h 25m,1 stop,No info,6218,12,5,23,30,18,5
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,2022-06-29 16:50:00,4h 45m,1 stop,No info,13302,1,3,21,35,16,50

In [20]:
## Dropping the column Dep_Time

training_data.drop('Dep_Time', axis=1, inplace=True)
training_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,1,10,22,20
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,13,15,5,50
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,4,25,9,25
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,23,30,18,5
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,21,35,16,50

In [21]:
duration = list(training_data['Duration'])
duration

['2h 50m',
 '7h 25m',
 '19h',
 '5h 25m',
 '4h 45m',
 '2h 25m',
 '15h 30m',
 '21h 5m',
 '25h 30m',
 '7h 50m',
 '13h 15m',
 '2h 35m',
 '2h 15m',
 '12h 10m',
 '2h 35m',
 '26h 35m',
 '4h 30m',
 '22h 35m',
 '23h',
 '20h 35m',
 '5h 10m',
 '15h 20m',
 '2h 50m',
 '2h 55m',
 '13h 20m',
 '15h 10m',
 '5h 45m',
 '5h 55m',
 '2h 50m',
 '2h 15m',
 '2h 15m',
 '13h 25m',
 '2h 50m',
 '22h',
 '5h 30m',
 '10h 25m',
 '5h 15m',
 '2h 30m',
 '6h 15m',
 '11h 55m',
 '11h 5m',
 '8h 30m',
 '22h 5m',
 '2h 45m',
 '12h',
 '2h 50m',
 '2h 50m',
 '2h 15m',
 '16h 5m',
 '19h 55m',
 '3h 15m',
 '25h 20m',
 '2h 50m',
 '3h',
 '2h 50m',
 '16h 15m',
 '15h 5m',
 '2h 15m',
 '6h 30m',
 '25h 5m',
 '12h 25m',
 '27h 20m',
 '10h 15m',
 '10h 30m',
 '2h 15m',
 '10h 25m',
 '2h 50m',
 '1h 30m',
 '13h 20m',
 '2h 15m',
 '1h 25m',
 '26h 30m',
 '7h 20m',
 '13h 30m',
 '5h',
 '2h 45m',
 '2h 50m',
 '1h 30m',
 '19h 5m',
 '2h 15m',
 '14h 50m',
 '2h 40m',
 '22h 10m',
 '9h 35m',
 '10h',
 '21h 20m',
 '5h 25m',
 '18h 45m',
 '12h 20m',
 '18h',
 '9h 15m',
 '11h 5m',
 '17h 30m',
 '13h 20m',
 '2h 35m',
 '2h 25m',
 '2h 40m',
 '3h',
 '1h 25m',
 '16h 35m',
 '12h 20m',
 '12h 15m',
 '7h 30m',
 '24h',
 '2h 45m',
 '8h 55m',
 '7h 10m',
 '14h 30m',
 '30h 20m',
 '19h 55m',
 '15h',
 '2h 55m',
 '12h 45m',
 '10h 10m',
 '5h 55m',
 '15h 25m',
 '16h 5m',
 '10h 10m',
 '2h 40m',
 '11h 55m',
 '2h 40m',
 '1h 25m',
 '14h 5m',
 '20h 15m',
 '2h 25m',
 '23h 10m',
 '18h 10m',
 '16h',
 '2h 50m',
 '2h 20m',
 '8h',
 '16h 55m',
 '3h 10m',
 '2h 45m',
 '14h',
 '23h 50m',
 '21h 40m',
 '21h 15m',
 '2h 45m',
 '10h 50m',
 '8h',
 '8h 15m',
 '5h 25m',
 '8h 35m',
 '11h 50m',
 '27h 35m',
 '8h 25m',
 '20h 55m',
 '4h 50m',
 '8h 10m',
 '2h 20m',
 '24h 25m',
 '2h 50m',
 '12h 20m',
 '12h 15m',
 '23h 35m',
 '16h 35m',
 '2h 50m',
 '25h 45m',
 '26h 10m',
 '28h 50m',
 '2h 45m',
 '25h 15m',
 '9h 20m',
 '4h 30m',
 '15h 25m',
 '1h 30m',
 '2h 40m',
 '9h 10m',
 '2h 45m',
 '22h 35m',
 '3h 5m',
 '11h 30m',
 '9h 30m',
 '12h 10m',
 '17h 35m',
 '5h 5m',
 '25h 50m',
 '20h',
 '13h',
 '18h 25m',
 '1h 30m',
 '9h 30m',
 '16h',
 '2h 20m',
 '4h 30m',
 '5h 45m',
 '24h 10m',
 '2h 35m',
 '2h 45m',
 '4h 55m',
 '25h 35m',
 '6h 20m',
 '3h 5m',
 '18h 40m',
 '2h 15m',
 '12h 10m',
 '19h 25m',
 '2h 50m',
 '8h 25m',
 '9h 15m',
 '2h 50m',
 '3h 15m',
 '2h 50m',
 '12h 20m',
 '2h 55m',
 '9h 35m',
 '2h 35m',
 '9h 30m',
 '29h 20m',
 '2h 55m',
 '5h 15m',
 '9h 5m',
 '10h 45m',
 '4h 55m',
 '1h 30m',
 '11h 40m',
 '2h 45m',
 '2h 55m',
 '10h',
 '2h 45m',
 '10h 15m',
 '1h 25m',
 '9h 15m',
 '22h 55m',
 '28h 50m',
 '37h 25m',
 '2h 50m',
 '1h 30m',
 '1h 30m',
 '25h 40m',
 '2h 35m',
 '6h 15m',
 '17h 30m',
 '5h 45m',
 '2h 35m',
 '25h 30m',
 '13h 55m',
 '2h 55m',
 '10h 15m',
 '8h 40m',
 '5h 30m',
 '12h',
 '2h 15m',
 '2h 15m',
 '2h 50m',
 '9h 10m',
 '10h 25m',
 '2h 20m',
 '4h 30m',
 '3h 10m',
 '23h 30m',
 '27h 20m',
 '12h 35m',
 '24h 15m',
 '1h 20m',
 '2h 45m',
 '3h',
 '11h',
 '13h 30m',
 '2h 50m',
 '2h 55m',
 '2h 45m',
 '11h 15m',
 '14h 35m',
 '13h 55m',
 '14h 5m',
 '15h 5m',
 '2h 15m',
 '15h',
 '12h 55m',
 '9h',
 '12h 15m',
 '7h 40m',
 '27h 20m',
 '1h 25m',
 '1h 20m',
 '5h 30m',
 '11h 45m',
 '3h 15m',
 '24h 55m',
 '27h 20m',
 '2h 55m',
 '17h 5m',
 '2h 40m',
 '8h',
 '3h',
 '27h 35m',
 '7h 30m',
 '22h 55m',
 '8h 35m',
 '29h 55m',
 '22h 15m',
 '1h 20m',
 '2h 40m',
 '3h',
 '12h 10m',
 '2h 35m',
 '11h 45m',
 '2h 35m',
 '1h 30m',
 '2h 40m',
 '2h 35m',
 '22h 55m',
 '14h 40m',
 '15h 25m',
 '7h 15m',
 '20h 10m',
 '20h 45m',
 '2h 30m',
 '23h 50m',
 '27h',
 '5h 30m',
 '11h 50m',
 '2h 15m',
 '24h 30m',
 '2h 20m',
 '6h 30m',
 '20h 25m',
 '2h 35m',
 '2h 55m',
 '5h 35m',
 '2h 30m',
 '14h 45m',
 '12h 20m',
 '25h 30m',
 '5h 35m',
 '11h 45m',
 '2h 55m',
 '5h 40m',
 '4h 5m',
 '8h',
 '2h 45m',
 '2h 40m',
 '2h 55m',
 '15h 55m',
 '23h 10m',
 '7h 20m',
 '2h 50m',
 '7h 30m',
 '3h',
 '7h 45m',
 '25h 20m',
 '10h 25m',
 '30h 20m',
 '2h 35m',
 '9h',
 '15h 10m',
 '28h 20m',
 '3h',
 '2h 45m',
 '4h 55m',
 '2h 40m',
 '22h 10m',
 '10h 10m',
 '2h 50m',
 '4h 20m',
 '11h',
 '3h',
 '22h 35m',
 '3h 5m',
 '2h 40m',
 '2h 50m',
 '21h 5m',
 '11h 50m',
 '25h 35m',
 '15h 25m',
 '2h 25m',
 '3h 40m',
 '2h 55m',
 '3h 10m',
 '11h 50m',
 '2h 50m',
 '2h 50m',
 '1h 30m',
 '11h 30m',
 '8h 50m',
 '20h 15m',
 '20h 10m',
 '16h 5m',
 '12h 35m',
 '17h 5m',
 '3h',
 '15h 30m',
 '11h 30m',
 '2h 20m',
 '23h 45m',
 '1h 30m',
 '2h 35m',
 '24h 45m',
 '21h 35m',
 '5h 30m',
 '12h 15m',
 '8h 5m',
 '5h',
 '2h 50m',
 '6h 25m',
 '2h 20m',
 '2h 45m',
 '12h 45m',
 '15h 50m',
 '27h',
 '26h 25m',
 '2h 55m',
 '24h 50m',
 '8h 40m',
 '25h 45m',
 '2h 50m',
 '6h 15m',
 '10h 30m',
 '26h',
 '17h 5m',
 '21h 20m',
 '5h 35m',
 '2h 50m',
 '25h 50m',
 '12h 10m',
 '17h 5m',
 '8h 30m',
 '23h 5m',
 '9h 20m',
 '7h 55m',
 '1h 30m',
 '2h 50m',
 '2h 15m',
 '10h',
 '2h 35m',
 '7h 45m',
 '2h 55m',
 '26h 20m',
 '2h 40m',
 '11h',
 '19h 25m',
 '2h 55m',
 '2h 45m',
 '23h 15m',
 '9h',
 '3h 10m',
 '6h 25m',
 '8h 40m',
 '2h 50m',
 '12h 20m',
 '5h 20m',
 '4h',
 '9h 45m',
 '2h 55m',
 '26h 20m',
 '2h 15m',
 '9h 45m',
 '24h 55m',
 '11h 55m',
 '8h 20m',
 '17h 25m',
 '2h 50m',
 '7h 5m',
 '21h 15m',
 '5h',
 '2h 25m',
 '5h 15m',
 '15h 10m',
 '11h 45m',
 '3h',
 '4h 55m',
 '2h 45m',
 '2h 30m',
 '9h 45m',
 '2h 40m',
 '6h 30m',
 '5h 30m',
 '2h 40m',
 '34h 5m',
 '15h 25m',
 '9h 30m',
 '6h 5m',
 '2h 40m',
 '5h 50m',
 '2h 45m',
 '27h 20m',
 '3h',
 '5h 15m',
 '16h',
 '7h',
 '8h 40m',
 '9h',
 '2h 20m',
 '2h 20m',
 '6h 20m',
 '4h 25m',
 '2h 20m',
 '11h 5m',
 '16h 55m',
 '13h 45m',
 '25h 45m',
 '13h 55m',
 '5h 15m',
 '19h 15m',
 '7h 30m',
 '9h',
 '24h',
 '18h 10m',
 '2h 55m',
 '1h 30m',
 '21h 20m',
 '6h 15m',
 '14h 30m',
 '1h 20m',
 '12h 55m',
 '2h 25m',
 '22h 30m',
 '22h 55m',
 '5h 25m',
 '1h 25m',
 '7h 15m',
 '12h 20m',
 '20h 10m',
 '21h 15m',
 '2h 15m',
 '10h 30m',
 '14h 5m',
 '2h 50m',
 '16h 25m',
 '5h 15m',
 '13h 50m',
 '2h 15m',
 '7h 15m',
 '27h 5m',
 '27h 35m',
 '5h',
 '2h 50m',
 '2h 50m',
 '15h 20m',
 '5h 20m',
 '10h 10m',
 '27h 35m',
 '9h 35m',
 '28h 10m',
 '14h',
 '2h 35m',
 '2h 55m',
 '2h 35m',
 '4h 40m',
 '2h 30m',
 '11h 15m',
 '7h 55m',
 '8h 50m',
 '1h 25m',
 '15h 40m',
 '2h 35m',
 '2h 55m',
 '13h 25m',
 '4h 35m',
 '18h 30m',
 '2h 15m',
 '38h 15m',
 '3h 5m',
 '25h 50m',
 '3h 10m',
 '2h 50m',
 '11h 30m',
 '6h 35m',
 '27h 35m',
 '2h 35m',
 '7h 30m',
 '3h 15m',
 '9h 35m',
 '12h 30m',
 '11h 20m',
 '3h',
 '2h 35m',
 '1h 30m',
 '26h 10m',
 '4h 55m',
 '2h 45m',
 '8h 40m',
 '7h 5m',
 '2h 45m',
 '24h 50m',
 '2h 20m',
 '11h',
 '9h',
 '2h 55m',
 '3h 5m',
 '2h 35m',
 '13h',
 '1h 25m',
 '7h 35m',
 '2h 40m',
 '12h 55m',
 '29h 20m',
 '5h',
 '8h 40m',
 '3h',
 '3h',
 '2h 45m',
 '12h 10m',
 '2h 20m',
 '7h 55m',
 '29h 35m',
 '26h 55m',
 '12h 45m',
 '7h 35m',
 '2h 30m',
 '11h 45m',
 '23h 40m',
 '13h 50m',
 '12h 50m',
 '9h 50m',
 '2h 30m',
 '21h 55m',
 '26h 10m',
 '2h 55m',
 '20h 15m',
 '20h 10m',
 '10h 55m',
 '2h 30m',
 '21h 10m',
 '2h 35m',
 '20h 40m',
 '2h 50m',
 '6h 30m',
 '30h',
 '13h 10m',
 '2h 55m',
 '18h',
 '8h',
 '8h 45m',
 '12h 30m',
 '13h 20m',
 '6h 10m',
 '7h 30m',
 '19h 15m',
 '2h 35m',
 '12h',
 '3h',
 '2h 50m',
 '1h 25m',
 '23h 5m',
 '2h 50m',
 '22h 5m',
 '2h 15m',
 '5h 45m',
 '2h 50m',
 '9h 30m',
 '8h 55m',
 '17h 45m',
 '2h 50m',
 '21h 45m',
 '12h 35m',
 '1h 30m',
 '2h 15m',
 '3h 55m',
 '2h 45m',
 '7h 30m',
 '17h 20m',
 '1h 30m',
 '1h 30m',
 '30h 30m',
 '5h',
 '11h 15m',
 '2h 50m',
 '19h 5m',
 '6h 35m',
 '7h 30m',
 '2h 15m',
 '2h 45m',
 '12h 45m',
 '2h 50m',
 '26h 35m',
 '12h 55m',
 '1h 30m',
 '8h 40m',
 '14h',
 '23h 30m',
 '29h 55m',
 '22h 10m',
 '4h 50m',
 '2h 45m',
 '13h 30m',
 '13h 20m',
 '2h 20m',
 '11h 55m',
 '5h 10m',
 '11h 45m',
 '13h 50m',
 '3h',
 '6h 10m',
 '2h 20m',
 '10h 45m',
 '2h 15m',
 '2h 55m',
 '1h 30m',
 '7h 35m',
 '26h 35m',
 '4h 45m',
 '21h 25m',
 '8h 35m',
 '8h 30m',
 '2h 15m',
 '12h 40m',
 '8h 25m',
 '25h 40m',
 '2h 45m',
 '29h 20m',
 '2h 40m',
 '2h 50m',
 '2h 20m',
 '7h 15m',
 '20h 15m',
 '11h 45m',
 '2h 35m',
 '13h 30m',
 '1h 30m',
 '24h 35m',
 '20h 35m',
 '2h 50m',
 '4h 35m',
 '2h 20m',
 '11h 45m',
 '1h 30m',
 '12h 50m',
 '24h 30m',
 '11h 30m',
 '4h',
 '11h',
 '5h 25m',
 '2h 35m',
 '5h 10m',
 '10h 10m',
 '26h 55m',
 '7h 15m',
 '8h 10m',
 '2h 55m',
 '5h 15m',
 '2h 20m',
 '1h 25m',
 '4h 50m',
 '2h 20m',
 '2h 20m',
 '13h 15m',
 '19h 10m',
 '22h 40m',
 '14h 50m',
 '15h 10m',
 '7h 5m',
 '1h 25m',
 '2h 55m',
 '8h',
 '2h 45m',
 '14h 55m',
 '1h 30m',
 '16h 15m',
 '2h 50m',
 '5h',
 '22h 15m',
 '5h 30m',
 '8h 35m',
 '15h 25m',
 '21h',
 '13h 30m',
 '2h 50m',
 '6h 45m',
 '1h 30m',
 '8h 40m',
 '1h 30m',
 '2h 50m',
 '2h 35m',
 '16h 5m',
 '23h 50m',
 '27h 5m',
 '16h 15m',
 '15h 25m',
 '2h 50m',
 '8h 35m',
 '13h 50m',
 '2h 40m',
 '2h 25m',
 '3h 10m',
 '2h 55m',
 '28h 40m',
 '2h 50m',
 '2h 35m',
 '9h 40m',
 '16h 40m',
 '6h 20m',
 '27h',
 '14h 35m',
 '12h 10m',
 '7h 35m',
 '2h 20m',
 '19h 10m',
 '20h',
 '3h',
 '5h 10m',
 '2h 40m',
 '29h 35m',
 '4h 55m',
 '3h',
 '12h 30m',
 '12h 35m',
 '26h 20m',
 '13h 15m',
 '2h 50m',
 '12h 45m',
 '16h 20m',
 '2h 40m',
 '8h 15m',
 '12h',
 '2h 50m',
 '11h',
 '2h 20m',
 '13h 50m',
 '8h 10m',
 '12h 10m',
 '2h 40m',
 '2h 45m',
 '2h 50m',
 '24h',
 '3h',
 '12h 35m',
 '25h 50m',
 '2h 55m',
 '17h 5m',
 '29h 20m',
 '8h 55m',
 '3h 5m',
 '9h',
 '10h 25m',
 '16h 45m',
 '2h 45m',
 '26h 20m',
 '13h 15m',
 '10h 30m',
 '7h 35m',
 '11h',
 '2h 50m',
 '25h 45m',
 '6h 25m',
 '1h 25m',
 '20h 10m',
 '11h 55m',
 '2h 50m',
 '5h',
 '27h',
 '2h 50m',
 '1h 15m',
 '10h 15m',
 '24h 50m',
 '2h 50m',
 '20h',
 '5h 30m',
 '2h 45m',
 '6h 55m',
 '2h 45m',
 '5h 15m',
 '6h 15m',
 '2h 50m',
 '19h 25m',
 '2h 55m',
 '11h 25m',
 '14h 5m',
 '2h 45m',
 '3h 15m',
 '14h 20m',
 '12h 30m',
 '5h 20m',
 '26h 20m',
 '3h 5m',
 '1h 30m',
 '7h 5m',
 '6h 10m',
 '8h',
 '12h 5m',
 '12h 55m',
 '9h 35m',
 '15h 10m',
 '11h 40m',
 '2h 55m',
 '4h 30m',
 '2h 40m',
 '2h 30m',
 '24h 10m',
 '28h 20m',
 '1h 25m',
 '10h 10m',
 '11h 30m',
 '2h 50m',
 '13h 45m',
 '6h 25m',
 '12h 55m',
 '4h 25m',
 '13h 30m',
 '24h 5m',
 '16h 5m',
 '8h 20m',
 '3h 40m',
 '9h 30m',
 '28h 15m',
 '13h 20m',
 '17h 50m',
 '20h 20m',
 '28h 5m',
 '15h 25m',
 '12h 5m',
 '10h 20m',
 '12h 25m',
 '7h 35m',
 '2h 50m',
 '4h 35m',
 '11h 15m',
 '2h 35m',
 '26h',
 '2h 25m',
 '2h 35m',
 '14h 15m',
 '2h 35m',
 '22h 5m',
 '6h 35m',
 '8h 30m',
 '18h 45m',
 '35h 15m',
 '2h 15m',
 '2h 30m',
 '2h 20m',
 '2h 30m',
 '7h 35m',
 '35h 35m',
 '26h 30m',
 '11h 30m',
 '26h 40m',
 '3h',
 '1h 30m',
 '2h 55m',
 '14h 15m',
 '16h 55m',
 '12h 20m',
 '29h 35m',
 '20h 20m',
 '8h 25m',
 '13h 50m',
 '10h',
 '19h 25m',
 '28h',
 '2h 50m',
 '17h 20m',
 '2h 45m',
 '2h 55m',
 '13h 25m',
 '12h 55m',
 '9h 45m',
 '21h 25m',
 '15h 40m',
 '2h 20m',
 '14h 25m',
 '2h 50m',
 '6h 35m',
 '22h 10m',
 '14h 25m',
 '2h 30m',
 '23h 35m',
 '13h 5m',
 '1h 30m',
 '5h 5m',
 '1h 20m',
 '22h 55m',
 '1h 30m',
 '2h 35m',
 '37h 20m',
 '2h 50m',
 '2h 50m',
 '36h 10m',
 '9h 15m',
 '1h 25m',
 '5h 5m',
 '2h 15m',
 '15h 10m',
 '25h 55m',
 '5h 40m',
 '7h 30m',
 '17h 45m',
 '2h 20m',
 '8h 15m',
 '3h 40m',
 '5h 55m',
 '2h 30m',
 '17h 30m',
 '13h 50m',
 '2h 15m',
 '21h 35m',
 '9h 30m',
 '8h 40m',
 '10h 25m',
 '35h 5m',
 '14h 15m',
 '3h',
 '25h 50m',
 '2h 30m',
 '8h 40m',
 '10h',
 '11h 30m',
 '7h 30m',
 ...]

In [22]:
minutes = []
for i in range(len(duration)):
        # print(duration[i].split('h')[0])
        if (len(duration[i].split()) != 2):
            if "h" in duration[i]:
                minutes.append(int(duration[i].split('h')[0]) * 60)
#                 print(int(duration[i].split('h')[0]) * 60)
            else:
                minutes.append(int(duration[i].split()[0].split(sep='m')[0]))
#                 print(int(duration[i].split()[0].split(sep='m')[0]))
        else:
            minutes.append(int(duration[i].split('h')[0])* 60 + int(duration[i].split()[1].split('m')[0]))
#             print( int(duration[i].split('h')[0])* 60 + int(duration[i].split()[1].split('m')[0]) )
# print(minutes)
print(minutes)

[170, 445, 1140, 325, 285, 145, 930, 1265, 1530, 470, 795, 155, 135, 730, 155, 1595, 270, 1355, 1380, 1235, 310, 920, 170, 175, 800, 910, 345, 355, 170, 135, 135, 805, 170, 1320, 330, 625, 315, 150, 375, 715, 665, 510, 1325, 165, 720, 170, 170, 135, 965, 1195, 195, 1520, 170, 180, 170, 975, 905, 135, 390, 1505, 745, 1640, 615, 630, 135, 625, 170, 90, 800, 135, 85, 1590, 440, 810, 300, 165, 170, 90, 1145, 135, 890, 160, 1330, 575, 600, 1280, 325, 1125, 740, 1080, 555, 665, 1050, 800, 155, 145, 160, 180, 85, 995, 740, 735, 450, 1440, 165, 535, 430, 870, 1820, 1195, 900, 175, 765, 610, 355, 925, 965, 610, 160, 715, 160, 85, 845, 1215, 145, 1390, 1090, 960, 170, 140, 480, 1015, 190, 165, 840, 1430, 1300, 1275, 165, 650, 480, 495, 325, 515, 710, 1655, 505, 1255, 290, 490, 140, 1465, 170, 740, 735, 1415, 995, 170, 1545, 1570, 1730, 165, 1515, 560, 270, 925, 90, 160, 550, 165, 1355, 185, 690, 570, 730, 1055, 305, 1550, 1200, 780, 1105, 90, 570, 960, 140, 270, 345, 1450, 155, 165, 295, 1535, 380, 185, 1120, 135, 730, 1165, 170, 505, 555, 170, 195, 170, 740, 175, 575, 155, 570, 1760, 175, 315, 545, 645, 295, 90, 700, 165, 175, 600, 165, 615, 85, 555, 1375, 1730, 2245, 170, 90, 90, 1540, 155, 375, 1050, 345, 155, 1530, 835, 175, 615, 520, 330, 720, 135, 135, 170, 550, 625, 140, 270, 190, 1410, 1640, 755, 1455, 80, 165, 180, 660, 810, 170, 175, 165, 675, 875, 835, 845, 905, 135, 900, 775, 540, 735, 460, 1640, 85, 80, 330, 705, 195, 1495, 1640, 175, 1025, 160, 480, 180, 1655, 450, 1375, 515, 1795, 1335, 80, 160, 180, 730, 155, 705, 155, 90, 160, 155, 1375, 880, 925, 435, 1210, 1245, 150, 1430, 1620, 330, 710, 135, 1470, 140, 390, 1225, 155, 175, 335, 150, 885, 740, 1530, 335, 705, 175, 340, 245, 480, 165, 160, 175, 955, 1390, 440, 170, 450, 180, 465, 1520, 625, 1820, 155, 540, 910, 1700, 180, 165, 295, 160, 1330, 610, 170, 260, 660, 180, 1355, 185, 160, 170, 1265, 710, 1535, 925, 145, 220, 175, 190, 710, 170, 170, 90, 690, 530, 1215, 1210, 965, 755, 1025, 180, 930, 690, 140, 1425, 90, 155, 1485, 1295, 330, 735, 485, 300, 170, 385, 140, 165, 765, 950, 1620, 1585, 175, 1490, 520, 1545, 170, 375, 630, 1560, 1025, 1280, 335, 170, 1550, 730, 1025, 510, 1385, 560, 475, 90, 170, 135, 600, 155, 465, 175, 1580, 160, 660, 1165, 175, 165, 1395, 540, 190, 385, 520, 170, 740, 320, 240, 585, 175, 1580, 135, 585, 1495, 715, 500, 1045, 170, 425, 1275, 300, 145, 315, 910, 705, 180, 295, 165, 150, 585, 160, 390, 330, 160, 2045, 925, 570, 365, 160, 350, 165, 1640, 180, 315, 960, 420, 520, 540, 140, 140, 380, 265, 140, 665, 1015, 825, 1545, 835, 315, 1155, 450, 540, 1440, 1090, 175, 90, 1280, 375, 870, 80, 775, 145, 1350, 1375, 325, 85, 435, 740, 1210, 1275, 135, 630, 845, 170, 985, 315, 830, 135, 435, 1625, 1655, 300, 170, 170, 920, 320, 610, 1655, 575, 1690, 840, 155, 175, 155, 280, 150, 675, 475, 530, 85, 940, 155, 175, 805, 275, 1110, 135, 2295, 185, 1550, 190, 170, 690, 395, 1655, 155, 450, 195, 575, 750, 680, 180, 155, 90, 1570, 295, 165, 520, 425, 165, 1490, 140, 660, 540, 175, 185, 155, 780, 85, 455, 160, 775, 1760, 300, 520, 180, 180, 165, 730, 140, 475, 1775, 1615, 765, 455, 150, 705, 1420, 830, 770, 590, 150, 1315, 1570, 175, 1215, 1210, 655, 150, 1270, 155, 1240, 170, 390, 1800, 790, 175, 1080, 480, 525, 750, 800, 370, 450, 1155, 155, 720, 180, 170, 85, 1385, 170, 1325, 135, 345, 170, 570, 535, 1065, 170, 1305, 755, 90, 135, 235, 165, 450, 1040, 90, 90, 1830, 300, 675, 170, 1145, 395, 450, 135, 165, 765, 170, 1595, 775, 90, 520, 840, 1410, 1795, 1330, 290, 165, 810, 800, 140, 715, 310, 705, 830, 180, 370, 140, 645, 135, 175, 90, 455, 1595, 285, 1285, 515, 510, 135, 760, 505, 1540, 165, 1760, 160, 170, 140, 435, 1215, 705, 155, 810, 90, 1475, 1235, 170, 275, 140, 705, 90, 770, 1470, 690, 240, 660, 325, 155, 310, 610, 1615, 435, 490, 175, 315, 140, 85, 290, 140, 140, 795, 1150, 1360, 890, 910, 425, 85, 175, 480, 165, 895, 90, 975, 170, 300, 1335, 330, 515, 925, 1260, 810, 170, 405, 90, 520, 90, 170, 155, 965, 1430, 1625, 975, 925, 170, 515, 830, 160, 145, 190, 175, 1720, 170, 155, 580, 1000, 380, 1620, 875, 730, 455, 140, 1150, 1200, 180, 310, 160, 1775, 295, 180, 750, 755, 1580, 795, 170, 765, 980, 160, 495, 720, 170, 660, 140, 830, 490, 730, 160, 165, 170, 1440, 180, 755, 1550, 175, 1025, 1760, 535, 185, 540, 625, 1005, 165, 1580, 795, 630, 455, 660, 170, 1545, 385, 85, 1210, 715, 170, 300, 1620, 170, 75, 615, 1490, 170, 1200, 330, 165, 415, 165, 315, 375, 170, 1165, 175, 685, 845, 165, 195, 860, 750, 320, 1580, 185, 90, 425, 370, 480, 725, 775, 575, 910, 700, 175, 270, 160, 150, 1450, 1700, 85, 610, 690, 170, 825, 385, 775, 265, 810, 1445, 965, 500, 220, 570, 1695, 800, 1070, 1220, 1685, 925, 725, 620, 745, 455, 170, 275, 675, 155, 1560, 145, 155, 855, 155, 1325, 395, 510, 1125, 2115, 135, 150, 140, 150, 455, 2135, 1590, 690, 1600, 180, 90, 175, 855, 1015, 740, 1775, 1220, 505, 830, 600, 1165, 1680, 170, 1040, 165, 175, 805, 775, 585, 1285, 940, 140, 865, 170, 395, 1330, 865, 150, 1415, 785, 90, 305, 80, 1375, 90, 155, 2240, 170, 170, 2170, 555, 85, 305, 135, 910, 1555, 340, 450, 1065, 140, 495, 220, 355, 150, 1050, 830, 135, 1295, 570, 520, 625, 2105, 855, 180, 1550, 150, 520, 600, 690, 450, 420, 135, 425, 480, 325, 1415, 395, 180, 1145, 155, 270, 90, 160, 1600, 745, 865, 170, 185, 90, 480, 1185, 165, 560, 180, 1615, 1275, 170, 170, 1015, 90, 1545, 90, 555, 665, 380, 1730, 1675, 735, 1375, 155, 170, 80, 1560, 525, 1090, 895, 450, 1150, 435, 700, 520, 660, 865, 275, 460, 705, 180, 90, 630, 155, 335, 1275, 705, 1200, 345, 90, 155, 2820, 195, 1275, 800, 165, 175, 320, 1280, 330, 180, 155, 755, 1580, 175, 395, 150, 1390, 775, 1590, 635, 95, 1025, 90, 165, 1720, 135, 90, 160, 455, 865, 1520, 590, 970, 160, 330, 1005, 170, 690, 585, 775, 600, 655, 460, 900, 140, 90, 2300, 165, 1265, 175, 170, 1555, 170, 80, 985, 175, 780, 440, 170, 315, 1045, 705, 1325, 190, 165, 320, 590, 425, 1245, 840, 360, 270, 890, 1655, 1440, 1025, 1010, 170, 440, 415, 160, 1615, 850, 140, 705, 85, 930, 1195, 660, 170, 135, 165, 600, 135, 380, 435, 330, 145, 90, 800, 165, 270, 345, 1400, 1000, 300, 865, 800, 750, 325, 1655, 155, 1060, 1300, 800, 150, 575, 175, 695, 155, 85, 295, 450, 960, 1450, 195, 755, 725, 730, 465, 1830, 435, 865, 150, 385, 900, 1100, 1195, 175, 795, 525, 90, 875, 170, 270, 805, 765, 150, 1450, 325, 1005, 1585, 320, 625, 150, 90, 165, 810, 400, 805, 490, 930, 600, 135, 180, 395, 1640, 300, 135, 170, 425, 840, 345, 160, 590, 85, 320, 930, 1280, 435, 350, 875, 475, 395, 1545, 630, 1855, 1375, 910, 1520, 485, 940, 710, 160, 1295, 320, 175, 170, 860, 660, 760, 1480, 165, 615, 660, 455, 750, 135, 975, 180, 1320, 865, 1595, 190, 390, 170, 450, 1375, 330, 355, 490, 400, 525, 165, 520, 155, 135, 1615, 165, 960, 1010, 305, 635, 720, 75, 705, 1270, 150, 145, 170, 1640, 630, 175, 185, 450, 1790, 80, 745, 710, 955, 490, 2105, 1295, 290, 1220, 75, 310, 180, 175, 425, 270, 90, 440, 90, 165, 1100, 165, 140, 90, 1420, 165, 170, 525, 475, 395, 1415, 1270, 170, 875, 2240, 375, 1560, 845, 450, 1005, 460, 1705, 300, 535, 1400, 855, 290, 165, 1375, 345, 1775, 155, 170, 1035, 155, 510, 600, 495, 370, 780, 195, 1165, 480, 155, 150, 380, 135, 145, 1195, 180, 270, 750, 465, 155, 1535, 370, 150, 560, 1125, 315, 465, 870, 135, 1195, 325, 1010, 170, 275, 745, 570, 155, 175, 85, 165, 170, 305, 615, 510, 150, 295, 505, 275, 185, 625, 75, 795, 1375, 355, 175, 165, 175, 150, 1590, 1555, 80, 160, 95, 140, 160, 275, 185, 910, 175, 545, 925, 280, 575, 275, 1855, 175, 2240, 1560, 1210, 1520, 665, 1430, 600, 155, 1235, 890, 140, 590, 450, 435, 1365, 170, 1210, 170, 1375, 1525, 305, 165, 720, 665, 1310, 540, 810, 505, 510, 600, 90, 140, 90, 185, 1425, 90, 365, 560, 1210, 1185, 835, 135, 440, 190, 195, 170, 435, 175, 455, 175, 1700, 520, 545, 920, 2240, 175, 705, 170, 910, 615, 1000, 140, 165, 545, 140, 1430, 480, 1995, 885, 1640, 145, 90, 425, 90, 290, 395, 615, 690, 1275, 975, 1550, 1470, 140, 910, 845, 755, 620, 800, 165, 180, 170, 1300, 160, 170, 550, 505, 1705, 490, 750, 170, 90, 810, 140, 700, 395, 170, 315, 135, 660, 2245, 170, 1270, 165, 385, 910, 465, 295, 315, 190, 1355, 1815, 315, 155, 1300, 1705, 765, 90, 870, 155, 1555, 155, 555, 215, 550, 440, 865, 750, 1625, 90, 810, 800, 775, 1425, 1660, 275, 180, 555, 440, 90, 1320, 165, 1375, 290, 765, 520, 165, 1015, 550, 510, 1225, 505, 435, 590, 970, 835, 480, 1275, 190, 1595, 1730, 165, 90, 1620, 275, 1420, 165, 150, 180, 180, 170, 170, 335, 180, 1210, 1145, 1700, 1795, 1545, 135, 175, 1090, 535, 1140, 170, 170, 165, 910, 1760, 90, 135, 940, 1480, 835, 170, 1400, 540, 170, 370, 900, 905, 90, 150, 740, 460, 865, 2295, 730, 170, 575, 160, 370, 390, 1550, 1825, 180, 830, 1050, 150, 155, 140, 795, 590, 175, 745, 1475, 330, 910, 1420, 155, 600, 830, 875, 455, 810, 810, 495, 760, 895, 1655, 875, 570, 910, 155, 185, 295, 290, 175, 90, 630, 750, 360, 170, 175, 455, 175, 155, 1775, 450, 155, 195, 980, 1130, 1700, 1395, 1325, 155, 90, 155, 285, 1730, 1665, 1025, 380, 965, 550, 1365, 155, 300, 915, 800, 1025, 1065, 325, 320, 865, 140, 955, 1375, 175, 90, 930, 180, 1560, 170, 415, 1415, 150, 610, 690, 1620, 395, 170, 500, 185, 1220, 140, 165, 455, 160, 775, 675, 150, 170, 290, 1100, 535, 780, 640, 795, 800, 155, 175, 750, 425, 370, 165, 170, 885, 345, 135, 535, 85, 1995, 405, 1410, 165, 1575, 450, 90, 2185, 1685, 740, 385, 1025, 90, 610, 520, 810, 1025, 315, 300, 875, 2295, 675, 440, 1300, 160, 195, 810, 170, 520, 395, 1425, 340, 175, 1475, 520, 175, 170, 1530, 495, 740, 845, 520, 165, 195, 1475, 1015, 875, 170, 845, 585, 660, 620, 140, 1420, 735, 335, 1655, 195, 1385, 570, 85, 175, 1035, 1350, 705, 165, 1730, 1760, 720, 85, 1610, 90, 170, 150, 965, 655, 945, 865, 1420, 1180, 625, 155, 1490, 840, 545, 1200, 180, 1345, 170, 545, 1175, 1595, 1210, 90, 165, 1615, 910, 145, 780, 630, 165, 195, 1355, 175, 1485, 715, 1380, 1615, 460, 170, 500, 560, 150, 610, 540, 450, 460, 1390, 330, 165, 175, 975, 270, 375, 425, 180, 140, 1495, 370, 775, 685, 810, 170, 1005, 920, 375, 180, 735, 1025, 155, 1330, 570, 175, 590, 150, 1395, 830, 910, 780, 900, 395, 1350, 880, 1730, 1440, 705, 940, 825, 85, 165, 1485, 930, 90, 90, 460, 270, 400, 1615, 170, 1215, 1545, 165, 1795, 615, 165, 175, 180, 180, 635, 520, 465, 875, 270, 690, 1180, 435, 570, 1760, 625, 1475, 1620, 155, 140, 435, 840, 165, 1555, 85, 1410, 170, 810, 1730, 145, 1595, 480, 180, 90, 895, 90, 480, 90, 180, 720, 665, 1570, 475, 495, 180, 175, 735, 280, 825, 930, 170, 405, 370, 725, 630, 1285, 1600, 1295, 190, 680, 570, 1005, 750, 575, 1500, 615, 520, 520, 750, 90, 1495, 1185, 665, 150, 1610, 455, 630, 1480, 1350, 695, 1555, 320, 925, 1275, 1530, 140, 395, 170, 455, 90, 660, 180, 1225, 155, 170, 1125, 755, 80, 1475, 80, 435, 1005, 445, 1605, 705, 1300, 1680, 480, 615, 910, 90, 175, 1220, 840, 455, 150, 875, 520, 590, 685, 175, 180, 1200, 1700, 195, 505, 75, 755, 170, 395, 1730, 90, 1200, 1430, 170, 810, 1375, 660, 1365, 1275, 890, 660, 305, 90, 140, 90, 540, 195, 165, 395, 1525, 460, 150, 780, 720, 435, 170, 165, 160, 415, 365, 1195, 420, 1425, 290, 330, 545, 1495, 1430, 370, 1455, 160, 145, 195, 330, 90, 180, 810, 655, 720, 840, 1490, 760, 165, 90, 295, 1855, 175, 90, 170, 455, 190, 165, 1455, 270, 570, 1325, 1760, 450, 300, 180, 85, 160, 155, 285, 450, 85, 1390, 1010, 85, 165, 180, 180, 540, 1390, 2280, 590, 370, 570, 750, 195, 255, 1420, 180, 810, 140, 1510, 150, 305, 340, 350, 540, 145, 430, 1095, 90, 1490, 165, 265, 705, 450, 375, 90, 85, 170, 1700, 140, 835, 305, 630, 740, 85, 970, 165, 1125, 260, 315, 165, 570, 90, 635, 645, 545, 140, 480, 1240, 180, 825, 185, 315, 810, 505, 1165, 810, 875, 1225, 730, 925, 470, 915, 175, 410, 1450, 1435, 1415, 840, 1730, 190, 1655, 450, 295, 695, 910, 1435, 1100, 1325, 90, 1335, 175, 1450, 1320, 435, 315, 1430, 320, 865, 480, 1040, 175, 170, 835, 630, 170, 170, 170, 805, 165, 745, 495, 1665, 1075, 175, 220, 915, 165, 725, 1320, 735, 140, 640, 1405, 370, 180, 455, 1680, 325, 435, 750, 540, 925, 155, 505, 435, 920, 590, 90, 1005, 165, 920, 155, 870, 170, 550, 1100, 1375, 90, 165, 930, 920, 180, 460, 635, 645, 615, 1030, 750, 480, 665, 175, 90, 655, 150, 1460, 175, 90, 795, 280, 780, 960, 1045, 730, 570, 600, 80, 480, 355, 1420, 1495, 450, 1615, 730, 400, 860, 335, 90, 170, 1110, 560, 1090, 175, 170, 530, 800, 1790, 1430, 355, 625, 640, 170, 440, 735, 570, 155, 800, 570, 600, 630, 1710, 335, 185, 1480, 810, 350, 755, 1180, 1655, 275, 625, 160, 90, 390, 155, 730, 155, 665, 575, 155, 90, 660, 395, 195, 1570, 460, 1630, 750, 765, 580, 1570, 1055, 1480, 790, 920, 155, 665, 1160, 170, 720, 1380, 90, 480, 170, 290, 170, 155, 180, 170, 140, 1025, 170, 85, 590, 90, 800, 940, 1620, 180, 1435, 590, 800, 525, 295, 465, 665, 155, 90, 720, 170, 925, 795, 90, 1325, 705, 450, 935, 660, 555, 150, 1320, 160, 870, 170, 165, 480, 175, 155, 1530, 155, 450, 90, 135, 90, 440, 1415, 575, 1375, 180, 300, 1620, 155, 1220, 895, 1180, 1640, 300, 1405, 845, 335, 90, 85, 1040, 150, 1500, 1225, 175, 85, 450, 1375, 550, 885, 150, 745, 170, 650, 1035, 140, 330, 690, 175, 640, 860, 170, 90, 600, 170, 1640, 1430, 875, 1055, 165, 150, 625, 535, 365, 795, 1350, 155, 1530, 175, 715, 160, 1350, 150, 460, 150, 1625, 480, 1100, 395, 175, 675, 565, 1580, 1615, 1495, 90, 655, 655, 165, 145, 480, 575, 1760, 330, 1320, 135, 760, 2245, 1420, 1335, 1050, 180, 600, 730, 550, 195, 725, 575, 860, 1155, 915, 920, 1290, 150, 135, 2065, 95, 735, 730, 1015, 1325, 1545, 440, 1115, 740, 165, 910, 685, 1610, 1090, 455, 145, 1280, 1410, 170, 1200, 155, 335, 740, 1410, 960, 1550, 155, 690, 190, 760, 175, 165, 1615, 170, 1395, 295, 1780, 320, 180, 1580, 800, 810, 145, 155, 160, 1270, 375, 485, 1570, 765, 175, 1775, 165, 1565, 165, 780, 165, 865, 155, 450, 150, 565, 160, 550, 495, 650, 685, 175, 1760, 2240, 655, 490, 1200, 165, 1745, 725, 590, 170, 140, 170, 550, 945, 2295, 170, 750, 165, 1375, 1440, 1620, 1430, 1395, 155, 890, 1010, 1645, 155, 1210, 170, 335, 1100, 420, 330, 1080, 140, 795, 1375, 1640, 1295, 1655, 85, 1315, 170, 140, 955, 740, 480, 675, 195, 965, 1580, 170, 365, 220, 475, 90, 335, 1700, 1145, 830, 1540, 1660, 175, 1270, 325, 140, 460, 505, 150, 80, 1165, 170, 180, 395, 995, 1275, 175, 2280, 675, 1325, 390, 90, 1245, 90, 400, 305, 425, 715, 90, 890, 520, 1630, 140, 175, 590, 165, 845, 720, 570, 170, 705, 360, 715, 730, 170, 625, 765, 1265, 570, 520, 555, 1315, 1430, 540, 1395, 555, 335, 135, 570, 520, 165, 1520, 170, 180, 180, 165, 995, 1580, 975, 365, 970, 145, 170, 690, 170, 1420, 1620, 195, 690, 150, 165, 600, 315, 1385, 170, 740, 585, 515, 165, 90, 1105, 165, 150, 395, 810, 665, 1570, 345, 455, 405, 165, 760, 435, 700, 135, 765, 170, 85, 1080, 165, 775, 900, 75, 1480, 90, 810, 175, 145, 1210, 730, 735, 1470, 510, 90, 195, 155, 150, 800, 935, 300, 170, 155, 720, 170, 860, 545, 745, 1500, 730, 720, 725, 765, 155, 145, 1375, 310, 585, 185, 600, 620, 1570, 725, 1390, 155, 1025, 170, 990, 685, 600, 800, 450, 965, 500, 1620, 505, 155, 690, 175, 175, 170, 1550, 90, 1625, 1480, 750, 1570, 185, 195, 175, 1275, 1045, 1315, 1520, 865, 1010, 195, 735, 90, 180, 175, 150, 1485, 140, 505, 890, 155, 85, 155, 845, 1515, 1220, 500, 1760, 585, 80, 1620, 940, 330, 450, 155, 1165, 170, 875, 520, 925, 1700, 90, 805, 1410, 635, 85, 1110, 1490, 340, 90, 900, 1640, 760, 1380, 165, 165, 165, 170, 390, 165, 175, 1435, 1525, 170, 870, 435, 1365, 1615, 165, 285, 620, 465, 435, 1350, 465, 80, 155, 475, 740, 780, 1065, 1025, 160, 165, 335, 340, 570, 135, 1025, 505, 995, 910, 1565, 175, 330, 185, 90, 670, 150, 490, 1495, 160, 730, 1295, 2065, 175, 895, 180, 375, 1410, 175, 625, 170, 280, 365, 145, 865, 165, 1660, 600, 1365, 860, 925, 900, 965, 175, 940, 1275, 95, 165, 360, 800, 295, 160, 570, 80, 180, 1475, 155, 730, 910, 160, 90, 1495, 455, 1125, 365, 665, 580, 810, 865, 385, 170, 355, 865, 800, 390, 1355, 660, 465, 170, 140, 380, 150, 600, 725, 160, 465, 1025, 520, 140, 440, 1080, 800, 705, 160, 750, 755, 180, 615, 170, 475, 615, 930, 185, 145, 155, 690, 805, 155, 870, 1405, 145, 330, 1045, 470, 1610, 1005, 165, 1685, 860, 585, 140, 865, 195, 180, 305, 485, 600, 90, 1210, 865, 1560, 1140, 1105, 930, 330, 570, 875, 1285, 565, 865, 355, 90, 165, 1245, 810, 1735, 270, 1745, 765, 305, 1100, 1355, 265, 580, 600, 1010, 340, 170, 150, 690, 630, 920, 590, 800, 1390, 140, 1505, 155, 175, 790, 140, 515, 860, 480, 170, 1750, 85, 175, 325, 170, 170, 140, 535, 315, 685, 175, 170, 510, 220, 1425, 810, 90, 1595, 1375, 2040, 480, 865, 925, 155, 565, 155, 170, 170, 1705, 90, 1505, 870, 1350, 425, 90, 1095, 435, 1050, 535, 170, 1235, 1200, 490, 1025, 555, 145, 505, 810, 170, 360, 1105, 845, 1350, 1530, 90, 145, 935, 140, 1575, 185, 155, 780, 1125, 180, 685, 705, 90, 1325, 1665, 940, 150, 1475, 90, 310, 325, 800, 515, 85, 180, 630, 180, 150, 725, 1330, 1330, 195, 380, 1470, 255, 395, 890, 170, 505, 155, 720, 1125, 1525, 510, 175, 1200, 1485, 520, 365, 655, 845, 1130, 150, 460, 435, 185, 625, 170, 550, 700, 830, 135, 150, 340, 975, 175, 165, 540, 865, 920, 570, 150, 1550, 1820, 175, 90, 940, 1225, 1325, 185, 1215, 1300, 455, 395, 180, 1420, 90, 545, 325, 545, 90, 1270, 150, 1485, 165, 960, 1300, 165, 425, 905, 440, 160, 155, 1545, 140, 145, 165, 1665, 975, 155, 1730, 590, 315, 1545, 1280, 140, 1025, 655, 550, 995, 1325, 165, 160, 490, 1560, 775, 85, 175, 655, 150, 565, 780, 1760, 660, 175, 680, 500, 1640, 1840, 1515, 515, 910, 140, 90, 905, 460, 1745, 735, 1430, 1730, 455, 630, 170, 1285, 965, 180, 825, 560, 1640, 720, 175, 735, 175, 1440, 165, 175, 295, 440, 295, 1415, 435, 90, 150, 275, 980, 170, 1735, 905, 180, 175, 1630, 165, 85, 345, 735, 215, 450, 925, 1520, 170, 290, 1015, 925, 625, 375, 480, 425, 90, 355, 570, 520, 1100, 1180, 1330, 765, 1395, 660, 175, 90, 925, 135, 155, 165, 1290, 1375, 1090, 140, 845, 165, 1550, 150, 150, 170, 870, 535, 160, 145, 170, 385, 620, 940, 685, 910, 1415, 140, 160, 1220, 510, 135, 375, 1610, 1845, 300, 1640, 385, 165, 170, 315, 1375, 885, 1005, 1105, 995, 155, 470, 760, 85, 1185, 1015, 170, 855, 1655, 90, 1375, 740, 165, 520, 155, 1325, 1440, 2170, 840, 1010, 1625, 435, 1255, 300, 420, 150, 315, 650, 315, 1255, 520, 135, 720, 375, 520, 850, 1975, 170, 385, 150, 150, 640, 1195, 520, 660, 605, 295, 1855, 685, 1595, 185, 875, 145, 290, 180, 690, 2120, 160, 1730, 155, 175, 1045, 890, 630, 335, 90, 150, 535, 90, 270, 735, 570, 865, 1640, 1615, 810, 725, 150, 1375, 940, 300, 845, 175, 1395, 1275, 175, 175, 1550, 325, 180, 180, 160, 1040, 190, 510, 725, 500, 900, 790, 510, 1615, 90, 1500, 175, 540, 1580, 80, 810, 570, 150, 90, 1065, 685, 1415, 170, 175, 145, 195, 355, 370, 1100, 1570, 1295, 1275, 1400, 330, 195, 355, 805, 155, 1595, 795, 135, 150, 155, 460, 160, 90, 155, 1410, 370, 330, 90, 190, 835, 170, 455, 475, 145, 90, 540, 875, 675, 180, 155, 1420, 280, 1275, 1385, 175, 525, 1195, 165, 755, 165, 970, 1830, 280, 1655, 765, 665, 180, 690, 170, 1200, 610, 150, 790, 165, 400, 1620, 1425, 320, 750, 1655, 455, 705, 810, 180, 1660, 450, 570, 810, 185, 1210, 615, 555, 865, 505, 890, 160, 510, 170, 165, 1395, 1010, 150, 85, 395, 865, 745, 140, 90, 640, 90, 1630, 745, 530, 170, 1440, 1255, 365, 735, 150, 155, 750, 755, 965, 1275, 140, 150, 735, 1430, 170, 1390, 485, 640, 150, 435, 90, 630, 1395, 150, 300, 1505, 585, 145, 925, 810, 1215, 930, 900, 1290, 425, 175, 1700, 150, 1090, 1275, 665, 640, 600, 290, 330, 800, 570, 1605, 555, 75, 455, 90, 170, 310, 90, 175, 1005, 140, 1195, 185, 175, 175, 1560, 175, 925, 665, 90, 975, 380, 1615, 1245, 1485, 345, 585, 160, 335, 165, 180, 155, 1475, 155, 160, 1220, 155, 180, 375, 140, 140, 640, 510, 90, 950, 150, 720, 90, 1295, 165, 1575, 170, 85, 180, 150, 450, 140, 630, 170, 165, 840, 170, 90, 1655, 395, 700, 175, 710, 590, 1610, 165, 295, 165, 790, 1630, 165, 950, 505, 140, 845, 170, 980, 1510, 170, 2300, 665, 175, 1195, 945, 555, 155, 295, 795, 1560, 1110, 540, 1655, 1155, 705, 1375, 490, 415, 765, 155, 170, 615, 180, 750, 290, 2280, 800, 765, 1595, 1000, 170, 255, 165, 90, 155, 450, 1760, 1380, 165, 730, 425, 160, 940, 465, 345, 150, 610, 730, 90, 170, 735, 90, 550, 1325, 600, 375, 175, 155, 590, 1430, 345, 495, 625, 855, 800, 165, 2040, 425, 535, 930, 710, 90, 555, 930, 180, 450, 1

In [23]:
training_data['Duration_mins'] = minutes
training_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_mins
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,1,10,22,20,170
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,13,15,5,50,445
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,4,25,9,25,1140
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,23,30,18,5,325
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,21,35,16,50,285

In [24]:
training_data.drop('Duration', axis=1, inplace=True)

In [25]:
training_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_mins
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,1,10,22,20,170
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,13,15,5,50,445
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,4,25,9,25,1140
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,23,30,18,5,325
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,21,35,16,50,285

In [26]:
training_data['Airline'].value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [27]:
Airline = training_data[['Airline']]

In [28]:
Airline.head()

       Airline
0       IndiGo
1    Air India
2  Jet Airways
3       IndiGo
4       IndiGo

In [29]:
Airline = pd.get_dummies(Airline, drop_first= True)

Airline.head()

,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,0,0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0

In [30]:
# As we can see Source and Destinations are Nominal categorical data so we have to convert in into numerical using
# hot encoding

Source = pd.get_dummies(training_data['Source'], drop_first=True)
Source.head()

   Chennai  Delhi  Kolkata  Mumbai
0        0      0        0       0
1        0      0        1       0
2        0      1        0       0
3        0      0        1       0
4        0      0        0       0

In [31]:
Destination = pd.get_dummies(training_data['Destination'], drop_first=True)
Destination.head()

   Cochin  Delhi  Hyderabad  Kolkata  New Delhi
0       0      0          0        0          1
1       0      0          0        0          0
2       1      0          0        0          0
3       0      0          0        0          0
4       0      0          0        0          1

In [32]:
## Additional Info contains no info
## Route and Total Steps are same 
training_data.drop(['Route', 'Additional_Info'], inplace=True, axis=1)

In [33]:
training_data.head()

,Airline,Date_of_Journey,Source,Destination,Total_Stops,Price,Journey_day,Journey_month,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_mins
0,IndiGo,2019-03-24,Banglore,New Delhi,non-stop,3897,24,3,1,10,22,20,170
1,Air India,2019-05-01,Kolkata,Banglore,2 stops,7662,1,5,13,15,5,50,445
2,Jet Airways,2019-06-09,Delhi,Cochin,2 stops,13882,9,6,4,25,9,25,1140
3,IndiGo,2019-05-12,Kolkata,Banglore,1 stop,6218,12,5,23,30,18,5,325
4,IndiGo,2019-03-01,Banglore,New Delhi,1 stop,13302,1,3,21,35,16,50,285

In [34]:
training_data['Total_Stops'].value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [35]:
## As we can see this is ordinal categorical type of data, we use LabelENcoding

training_data['Total_Stops'].replace({'non-stop': 0, '1 stop': 1, '2 stops': 2, '3 stops': 3}, inplace=True)

In [36]:
training_data.head()

,Airline,Date_of_Journey,Source,Destination,Total_Stops,Price,Journey_day,Journey_month,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_mins
0,IndiGo,2019-03-24,Banglore,New Delhi,0,3897,24,3,1,10,22,20,170
1,Air India,2019-05-01,Kolkata,Banglore,2,7662,1,5,13,15,5,50,445
2,Jet Airways,2019-06-09,Delhi,Cochin,2,13882,9,6,4,25,9,25,1140
3,IndiGo,2019-05-12,Kolkata,Banglore,1,6218,12,5,23,30,18,5,325
4,IndiGo,2019-03-01,Banglore,New Delhi,1,13302,1,3,21,35,16,50,285

In [37]:
training_data = pd.concat([training_data,Source,Destination,Airline], axis=1)
training_data.head()

,Airline,Date_of_Journey,Source,Destination,Total_Stops,Price,Journey_day,Journey_month,Arrival_hour,Arrival_min,...,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,IndiGo,2019-03-24,Banglore,New Delhi,0,3897,24,3,1,10,...,0,1,0,0,0,0,0,0,0,0
1,Air India,2019-05-01,Kolkata,Banglore,2,7662,1,5,13,15,...,0,0,0,0,0,0,0,0,0,0
2,Jet Airways,2019-06-09,Delhi,Cochin,2,13882,9,6,4,25,...,0,0,1,0,0,0,0,0,0,0
3,IndiGo,2019-05-12,Kolkata,Banglore,1,6218,12,5,23,30,...,0,1,0,0,0,0,0,0,0,0
4,IndiGo,2019-03-01,Banglore,New Delhi,1,13302,1,3,21,35,...,0,1,0,0,0,0,0,0,0,0

In [38]:
## Drop some column

training_data.drop(['Source', 'Destination', 'Airline'], axis=1, inplace=True)
training_data.head()

,Date_of_Journey,Total_Stops,Price,Journey_day,Journey_month,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_mins,...,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,2019-03-24,0,3897,24,3,1,10,22,20,170,...,0,1,0,0,0,0,0,0,0,0
1,2019-05-01,2,7662,1,5,13,15,5,50,445,...,0,0,0,0,0,0,0,0,0,0
2,2019-06-09,2,13882,9,6,4,25,9,25,1140,...,0,0,1,0,0,0,0,0,0,0
3,2019-05-12,1,6218,12,5,23,30,18,5,325,...,0,1,0,0,0,0,0,0,0,0
4,2019-03-01,1,13302,1,3,21,35,16,50,285,...,0,1,0,0,0,0,0,0,0,0

In [39]:
training_data.shape

(10682, 30)

### Test Data

In [40]:
test_data = pd.read_excel('Test_set.xlsx')

In [41]:
test_data.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info

In [42]:
print("Airline:")

test_Airline = test_data[['Airline']]
# Airline are ordinal categorical data so we perform label encoding
test_Airline = pd.get_dummies(test_Airline, drop_first=True)
test_Airline.head(2)

Airline:

,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Vistara,Airline_Vistara Premium economy
0,0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0

In [43]:
print("Source:")

test_Source = test_data[['Source']]
# Source are ordinal categorical data so we perform label encoding
test_Source = pd.get_dummies(test_Source, drop_first=True)
test_Source.head(2)

Source:

   Source_Chennai  Source_Delhi  Source_Kolkata  Source_Mumbai
0               0             1               0              0
1               0             0               1              0

In [44]:
print("Destination:")

test_Destination = test_data[['Destination']]
# Source are ordinal categorical data so we perform label encoding
test_Destination = pd.get_dummies(test_Destination, drop_first=True)
test_Destination.head(2)

Destination:

,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,1,0,0,0,0
1,0,0,0,0,0

In [45]:
test_data.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info

In [46]:
test_data['Journey_day'] = pd.to_datetime(test_data['Date_of_Journey']).dt.day
test_data.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Journey_day
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,5

In [47]:
print("Date_of_Journey:")

## convert Date_of_Journey into Journey_day and Journey_month

test_data['Journey_day'] = pd.to_datetime(test_data['Date_of_Journey']).dt.day
test_data['Journey_month'] = pd.to_datetime(test_data['Date_of_Journey']).dt.month
test_data.drop('Date_of_Journey', axis=1, inplace=True)
test_data.head(2)

Date_of_Journey:

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Journey_day,Journey_month
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,5,12

In [48]:
## create 2 new column for Arrival_hour and Arrical_min from Arrival_Time column
test_data['Arrival_hour'] = pd.to_datetime(test_data['Arrival_Time']).dt.hour
test_data['Arrival_min'] = pd.to_datetime(test_data['Arrival_Time']).dt.minute
test_data.drop('Arrival_Time', axis=1, inplace=True)

In [49]:
## Create Dep_hour and Dep_min and extract information from Dep_time

test_data['Dep_hour'] = pd.to_datetime(test_data['Dep_Time']).dt.hour
test_data['Dep_min'] = pd.to_datetime(test_data['Dep_Time']).dt.minute
test_data.drop('Dep_Time', axis=1, inplace=True)

In [50]:
test_data.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Journey_day,Journey_month,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1 stop,No info,6,6,4,25,17,30
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1 stop,No info,5,12,10,20,6,20

In [51]:
## Now convert duration to total minutes

test_duration = test_data['Duration']

minutes = []
for i in range(len(test_duration)):
        # print(duration[i].split('h')[0])
        if (len(test_duration[i].split()) != 2):
            if "h" in test_duration[i]:
                minutes.append(int(test_duration[i].split('h')[0]) * 60)
#                 print(int(duration[i].split('h')[0]) * 60)
            else:
                minutes.append(int(test_duration[i].split()[0].split(sep='m')[0]))
#                 print(int(duration[i].split()[0].split(sep='m')[0]))
        else:
            minutes.append(int(test_duration[i].split('h')[0])* 60 + int(test_duration[i].split()[1].split('m')[0]))
#             print( int(duration[i].split('h')[0])* 60 + int(duration[i].split()[1].split('m')[0]) )
# print(minutes)
# print(minutes)

test_data['Duration_min'] = minutes

test_data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Journey_day,Journey_month,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_min
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1 stop,No info,6,6,4,25,17,30,655
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1 stop,No info,5,12,10,20,6,20,240
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,23h 45m,1 stop,In-flight meal not included,21,5,19,0,19,15,1425
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,13h,1 stop,No info,21,5,21,0,8,0,780
4,Air Asia,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,24,6,2,45,23,55,170

In [52]:
test_data.head(5)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Journey_day,Journey_month,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_min
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1 stop,No info,6,6,4,25,17,30,655
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1 stop,No info,5,12,10,20,6,20,240
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,23h 45m,1 stop,In-flight meal not included,21,5,19,0,19,15,1425
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,13h,1 stop,No info,21,5,21,0,8,0,780
4,Air Asia,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,24,6,2,45,23,55,170

In [53]:
test_data = pd.concat([test_data, test_Airline, test_duration,test_Source,test_Destination], axis=1)

In [54]:
test_data.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Journey_day,Journey_month,Arrival_hour,...,Duration,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1 stop,No info,6,6,4,...,10h 55m,0,1,0,0,1,0,0,0,0
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1 stop,No info,5,12,10,...,4h,0,0,1,0,0,0,0,0,0

In [ ]:
test